<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>BlockBuster</title>
		<link rel="stylesheet" href="/static/style.css" />
		<link rel="icon" type="image/x-icon" href="/static/blockbuster.svg" />
	</head>
	<body>
		<div class="container">
			<canvas id="canvas"></canvas>
			<div class="block" id="block" style="left: 50px; top: 50px">
				CODE BLOCK
			</div>
		</div>

		<script src="/static/script.js"></script>
	</body>
</html>
